<style media="screen">
  #finalOrder{
    font-size: 18px;
    padding: 16px 18px;
    background-color: #214478;
    color: #FFF;
    border-radius: 6px;
    font-family: monospace;
    cursor: pointer;
  }
  #totalPrice{
    font-size: 17px;
  }
</style>

<h1>Menu</h1>
<h2>Enjoy menu that you choose</h2>
<hr />

<table id="cartTable">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>CalPrice</th>
  </tr>

</table>

<div style="text-align: right; margin-top: 80px">
  <span id="totalPrice">total: 0</span><br><br>
  <button id="finalOrder" type="button" name="button">ORDER</button>
</div>
