<style media="screen">
  #confirmOrder{
    font-size: 18px;
    padding: 16px 18px;
    margin-top: 80px;
    background-color: #217844;
    color: #FFF;
    border-radius: 6px;
    font-family: monospace;
    cursor: pointer;
  }
  td{
    background-color: #196633;
    color: #FFF;
    font-size: 16px;
    font-family: monospace;
    text-align: center;
  }
  th{
    background-color: #444;
    color: #FFF;
    font-size: 16px;
    font-family: monospace;
  }
  input{
    font-size: 16px;
  }
</style>

<h1>Menu</h1>
<h2>Enjoy menu that you choose</h2>
<hr />

<table id="menuTable">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Detail</th>
    <th>Type</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>

</table>

<div style="text-align: right">
  <button id="confirmOrder" type="button" name="button">CONFIRM</button>
</div>
